<footer>
  <div class="footer-middle">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <h4>Address</h4>
            <address>
                  <ul class="list-unstyled">
                    <li>
                      Hill 2<br>
                      Kaveri Hills<br>
                      Rushikonda, Visakhapatnam<br>
                      531008<br>
                    </li>
                    <li>
                      Phone: 00000000
                    </li>
                  </ul>
                </address>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <h4>Provendor Services</h4>
            <ul class="list-unstyled">
              <li><a href="#"></a></li>
              <li><a href="#">Trusted Payment Gateway</a></li>
              <li><a href="#">Courier Facility</a></li>
              <li><a href="#">24/7 Customer support</a></li>
              <li><a href="#">Notification Alerts</a></li>
              <li><a href="#">FAQs</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <h4>Provendor Information</h4>
            <ul class="list-unstyled">
              <li><a href="#">Trusted Sellers</a></li>
              <li><a href="#">24/7 Accessibility</a></li>
              <li><a href="#">Encrypted Data</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">FAQs</a></li>
              <li><a href="#">Services</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <h4>Provendor Departments</h4>
            <ul class="list-unstyled">
              <li><a href="#">Trusted stores</a></li>
              <li><a href="#">Public Marts</a></li>
              <li><a href="#">Cold Storages</a></li>
              <li><a href="#">Health buckets</a></li>
              <li>
                <a href="#"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <!--Footer Bottom-->
            <p class="text-xs-center">&copy; Copyright 2018 - Provender.  All rights reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </footer>