<div class="HeaderDiv">
  <nav class="navbar navbar-dark bg-dark navbar-static-top navbar-expand-md">
    <div class="container-fluid">
      <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbar3">
        <span class="sr-only">=</span>
        &#x2630;</button>
      <a class="navbar-brand" href="#">
        <img src="..\assets\images\provendor.png" alt="Provender">

      </a>
      <div class="provender-navbar-search smallsearch col-md-6 col-8">
        <div class="row">
          <input class="provender-navbar-input col-11" type="" placeholder="Search for Fruits, Vegetables and more" name="">
          <button class="provender-navbar-button col-1">
            <svg width="15px" height="15px">
              <path d="M11.618 9.897l4.224 4.212c.092.09.1.23.02.312l-1.464 1.46c-.08.08-.222.072-.314-.02L9.868 11.66M6.486 10.9c-2.42 0-4.38-1.955-4.38-4.367 0-2.413 1.96-4.37 4.38-4.37s4.38 1.957 4.38 4.37c0 2.412-1.96 4.368-4.38 4.368m0-10.834C2.904.066 0 2.96 0 6.533 0 10.105 2.904 13 6.486 13s6.487-2.895 6.487-6.467c0-3.572-2.905-6.467-6.487-6.467 "
              />
            </svg>
          </button>
        </div>
      </div>
      <div id="navbar3" class="navbar-collapse collapse">
        <ul class="nav navbar-nav ml-auto">
          <li class="dropdown nav-item">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-expanded="false">Select Item Group
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li class="dropdown-item">
                <a href="#">Vegetables</a>
              </li>
              <li class="dropdown-item">
                <a href="#">Fruits</a>
              </li>
              <li class="dropdown-item">
                <a href="#">Groceries</a>
              </li>
              <li class="dropdown-item">Medicines</li>
              <li class="dropdown-item">
                <a href="#">Sugar free sweets</a>
              </li>
              <li class="dropdown-item">
                <a href="#">Home made Sweets</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Today Deals</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Sell</a>
          </li>
          <li class="nav-item cartbtn">
            <a href="#" class="nav-link">Cart</a>
          </li>
          <li class="dropdown nav-item">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-expanded="false">You
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li class="dropdown-item">
                <a href="#">Your Details</a>
              </li>
              <li class="dropdown-item">
                <a href="#">Wishlist</a>
              </li>
              <li class="dropdown-item">
                <a href="#">Orders</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
  </nav>
</div>

<app-carousel-component></app-carousel-component>